Package: obsidianb7000
Version: __VERSION__
Section: sound
Priority: optional
Architecture: amd64
Maintainer: Leigh Pierce <leighpierce@github.com>
Description: Obsidian-B7000 plugin (VST3)
 Darkglass B7K Ultra circuit-level emulation bass overdrive/DI preamp.
